.todo-item {
    padding: 1rem;
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    cursor: pointer;
    transition: all 0.15s;
    user-select: none;
    background-color: whitesmoke;
    margin: 0.3rem;
    border-radius: 5px 5px 5px 5px;
}

.todo-item:hover {
    background: #353b544d;
}

/* todo-item 에 마우스가 있을때만 .remove 보이기 */
.todo-item:hover .todo-item-remove {
    opacity: 1;
}

/* todo-item 사이에 윗 테두리 */
.todo-item + .todo-item {
    border-top: 1px solid #f1f3f5;
}

.todo-item-remove {
    margin-right: 1rem;
    color: #e64980;
    font-weight: 600;
    opacity: 0;
}

.todo-item-content {
    flex: 1; /* 체크, 엑스를 제외한 공간 다 채우기 */
    word-break: break-all;
}

.isComplete {
    text-decoration: line-through;
    color: #adb5bd;
}

.isComplete-mark {
    font-size: 1.5rem;
    line-height: 1rem;
    margin-left: 1rem;
    color: #353b54e0;;
    font-weight: 800;
}